@tailwind base;
@layer base {
	@font-face {
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 400;
		src:
			local(''),
			url('$assets/fonts/nunito-v16-latin-regular.woff2') format('woff2');
	}

	a {
		@apply font-semibold italic;
	}
}

@tailwind components;
@layer components {
	/* #app {
        height: 100vh;
        text-align: center;
    } */
	html,
	body,
	body > div.svelte-body {
		@apply h-full overflow-hidden;
	}

	.input-group {
		.btn-icon {
			@apply rounded-none;
		}
	}

	.btn-icon-xs {
		@apply aspect-square w-[24px] text-xs;
	}

	.pill {
		@apply rounded-full px-3 py-1 text-sm font-semibold;
	}

	.pill-primary {
		@apply pill variant-filled-primary;
	}

	.pill-secondary {
		@apply pill variant-filled-secondary;
	}

	.pill-tertiary {
		@apply pill variant-filled-tertiary;
	}

	.pill-success {
		@apply pill variant-filled-success;
	}

	.pill-warning {
		@apply pill variant-filled-warning;
	}

	.pill-error {
		@apply pill variant-filled-error;
	}

	.pill-surface {
		@apply pill variant-filled-surface;
	}

	figure.avatar {
		@apply bg-tertiary-300-600-token bg-opacity-50;

		text.avatar-text {
			@apply text-on-tertiary-token;
		}
	}

	.accordion {
		.accordion-control {
			/* @apply bg-gradient-to-b from-primary-300 hover:from-secondary-300 to-tertiary-300 hover:to-tertiary-800 text-on-primary-token hover:text-on-tertiary-token; */
			@apply variant-ringed-secondary hover:variant-ringed-tertiary;
		}

		.accordion-lead {
			svg {
				@apply btn-icon-xs;
			}
		}
	}
}

@tailwind utilities;
@layer utilities {
	.v-middle {
		@apply flex place-items-center;
	}

	.grid-container-max {
		@apply text-token grid grid-cols-1 gap-2;
	}

	.grid-container-max-1 {
		@apply grid-container-max;
	}

	.grid-container-max-2 {
		@apply grid-container-max lg:grid-cols-2;
	}

	.grid-container-max-3 {
		@apply grid-container-max md:grid-cols-2 lg:grid-cols-3;
	}

	.grid-container-max-4 {
		@apply grid-container-max md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
	}

	.grid-container-max-6 {
		@apply grid-container-max grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6;
	}

	.grid-container-max-8 {
		@apply grid-container-max grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-8;
	}

	.grid-container-max-12 {
		@apply grid-container-max grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-12;
	}

	.grid-container-max-1 > :not([hidden]),
	.grid-container-max-2 > :not([hidden]),
	.grid-container-max-3 > :not([hidden]),
	.grid-container-max-4 > :not([hidden]),
	.grid-container-max-6 > :not([hidden]),
	.grid-container-max-8 > :not([hidden]),
	.grid-container-max-12 > :not([hidden]) {
		@apply justify-self-center;
	}
}
